*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "catamaran", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background: #00182E;
}
.Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: stretch;
}
.Header__Group{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header__Group__text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}
.Header__Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
}
.Header__Menu__text{
    font-size: 16px;
    font-weight: 500;
    color:#ffffff;
}
.Header__Menu__button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 2px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    background: none;
    cursor: pointer;
    border-color: #18B7C3;
}
.Line-1{
    width: 100%;
    height: 0.30px;
    background-color: #F2F2F2;
}
@media (max-width: 1280px){
    .Header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 65px;
        align-items: stretch;
    }
    .Header__Group{
        width: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Header__Group__text{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
        color: #ffffff;
    }
    .Header__Menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 520px;
    }
    .Header__Menu__text{
        font-size: 16px;
        font-weight: 500;
        color:#ffffff;
    }
    .Header__Menu__button{
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 2px;
        padding: 8px 18px;
        transition: 0.2s;
        border-radius: 30px;
        background: none;
        cursor: pointer;
        border-color: #18B7C3;
    }
}
@media (max-width: 768px){
    .Header{
        padding:30px 20px ;
    }
}
@media (max-width: 660px){
    .Header__Menu{
        width: 450px;
    }
}
.Hero-zone{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    justify-content: space-between;
}
.Hero-zone img{
    width:876.92px ;
}
.Hero-zone__text{
    width: 690px;
    height: 108px;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
}
@media (max-width: 786px){
    .Hero-zone {
        margin-top: 104px;
        height: 272px;
    }
    .Hero-zone img {
        width: 728.92px;
    }
}
@media (max-width: 660px){
    .Hero-zone img {
        width: 638.92px;
    }
    .Hero-zone__text {
        width: 555px;
        height: 108px;
        font-size: 18px;
    }
}
.Swift-1{
    position: absolute;
    top: 41%;
    background-color: unset;
    height: 0px;
}
.Swift-1__Group__1,
.Swift-1__Group__3{
    position: relative;
    background:none ;
}
.Swift-1__Group__1 img{
    width: 100%;
    background-color: unset;
}
.Swift-1__Group{
    bottom: 1638px;
    width: 0px;
    left: 472px;
    position: relative;
    background: none;
}
.Swift-1__Group img{
    background-color: unset;
    height: 1111px;
    width: 985px;
}
.Swift-1__Group__3{
    display: none;
}
@media (max-width: 1280px){
    .Swift-1__Group {
        bottom: 1090px;
        width: 0px;
        left: 313px;
        position: relative;
        background: none;
    }
    .Swift-1__Group img {
        background-color: unset;
        height: 740px;
        width: 640px;
    }
}
@media (max-width: 1024px){
    .Swift-1{
        top: 45%;
    }
    .Swift-1__Group {
        bottom: 849px;
        left: 238px;
    }
    .Swift-1__Group img {
        background-color: unset;
        height: 530px;
        width: 500px;
    }
}
@media (max-width: 768px){
    .Swift-1__Group__3 img{
        display: block;
        width: 100%;
        background-color: unset;
    }
    .Swift-1__Group {
        bottom:695px;
        width: 0px;
        left: 147px;
        position: relative;
        background: none;
    }
    .Swift-1__Group img {
        background-color: unset;
        height: 585px;
        width: 465px;
    }
}
@media (max-width: 660px){
    .Swift-1__Group__1{
        display: none;
    }
    .Swift-1__Group__3{
        display: block;
    }
    .Swift-1__Group img {
        height: 435px;
        width: 400px;
    }
    .Swift-1__Group {
        bottom: 580px;
        width: 0px;
        left: 143px;
    }
}
.What-I-do{
    width: 100%;
    position: relative;
    top: 1548px;
    height: 894px;
    margin-bottom: 125px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.What-I-do img{
    width: 368px;
}
.Box-Ideas{
    display: flex;
    width: 757px;
    align-items: center;
    justify-content: space-between;
}
.Line-2{
    width: 10px;
    height:110px ;
    background-color: #2EE5D7;
    margin-top: 140px;
}
.What-I-do__Definitions__Information{
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;
}
.What-I-do__Definitions__Information__text-1{
    width: 705px;
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 17px;
}
.What-I-do__Definitions__Information__text-2{
    width: 618px;
    height: 66px;
    font-size: 18px;
    text-align: justify;
}
.What-I-do__Definitions__Information__text-3{
    width: 577px;
    height: 66px;
    font-size: 18px;
}

@media (max-width: 1280px){
    .What-I-do {
        width: 100%;
        position: relative;
        top: 927px;
        height: 894px;
        padding: 0px 22px;
    }
    .Box-Ideas {
        display: flex;
        width: 730px;
        align-items: center;
        justify-content: space-between;
    }
    .What-I-do img {
        width: 251px;
        
    }
}
@media (max-width: 1024px){
    .What-I-do {
        width: 100%;
        position: relative;
        top: 705px;
        height: 894px;
        padding: 0 20px;
    }
}
@media (max-width: 768px){
    .What-I-do{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        top: 790px;
        height: 894px;
        padding: 0 10px;
        color: #ffffff;
    }
    .Box-Ideas {
        display: flex;
        width: 575px;
        align-items: center;
        justify-content: space-between;
    }
    .What-I-do__Definitions__Information__text-1 {
        width: 520px;
        height: 35px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 17px;
    }
    .What-I-do__Definitions__Information__text-2{
        width: 549px;
        font-size: 16px;
    }
    .What-I-do__Definitions__Information__text-3{
        width: 460px;
        font-size: 16px;
    }
    .Line-2 {
        width: 10px;
        height: 90px;
        background-color: #2EE5D7;
        margin-top: 120px;
    }
    .What-I-do img {
        width: 170px;
    }
}
@media (max-width: 768px){

}

.Blog{
    position: relative;
    top: 1548px;
    height: 661px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.Blog__Box{
    width: 475px;
    height:570px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    background-color: #002F59;
}
.Blog__Box__Notable{
    position: absolute;
    background: none;
    margin-bottom: 32px;
    
}
.Blog__Box__Notable__Rectangle-1{
    width: 260px;
    height: 265px;
    /* padding: 0px 7px; */
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Blog__Box__Notable__Rectangle-2{
    width: 260px;
    height:265px ;
    background: #dcdcdc;
    border-radius: 10px;
    position: relative;
    bottom: 210px;
    left: 10px;
    z-index: 0;
}
.Blog__Box__Notable__Rectangle-1__Amazon{
    width: 250px;
    height: 46px;
    display: flex;
}
.Blog__Box__Notable__Rectangle-1__Amazon-1{
    margin: 10px;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text{
    width: 131px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text__Order{
    font-size: 12px;
    font-weight: bold;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text--31{
    font-size: 10px;
    color:#6D6D6D;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text-2{
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text-2__In{
    font-size: 10px;
    font-weight: bold;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text-2__Amazon{
    font-size: 10px;
}
.Blog__Box__Notable__Rectangle-1__Box__text__Line-4__1{
    width: 2px;
    height: 120px;
    background: #0058CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0 0px 30px;
}
.Blog__Box__Notable__Rectangle-1__Box__text__Line-4__1 div{
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    background: #0058CC;
    border-radius:12px;
}
.Blog__Box__Notable__Rectangle-1__Box__text__Line-4__2{
    width: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    background: #A7A7A7;
}
.Blog__Box__Notable__Rectangle-1__Box__text__Line-4__2 div {
    width: 15px;
    height: 15px;
    background: #A7A7A7;
    border-radius:12px;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text{
    width: 225px;
    display: flex;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text__Ordered{
    font-size: 12px;
    font-weight: bold;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text__A-point{
    color:#6D6D6D;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text--12{
    font-size: 10px;
    color:#6D6D6D;
}
.Blog__Box__Notable__Rectangle-1__Amazon-2__text-2{
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text-1{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text-2{
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text-3{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog__Box__Notable__Rectangle-1__Box__text-2__text--5{
    display: block;
    width: 167px;
    font-size: 10px;
}
.Blog__Box__text{
    color: #ffffff;
    width: 322px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Blog__Box__text-1{
    font-size: 22px;
    font-weight: bold;
}
.Blog__Box__text-2{
    height: 78px;
    font-size: 18px;
    margin-bottom: 55px;
}
@media (max-width: 1280px){
    .Blog {
        top: 885px;
    }
    .Blog__Box {
        width: 385px;
    }
}
@media (max-width: 1024px){
    .Blog {
        top: 661px;
    }
    .Blog__Box {
        width: 313px;
        height: 568px;
    }
    .Blog__Box__text {
        width: 240px;
    }
    .Blog__Box__text-1 {
        font-size: 16px;
    }
    .Blog__Box__text-2 {
        font-size: 12px;
    }
}
@media (max-width: 768px){

}